.example-spacer {
  flex: 1 1 auto;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  gap: 20px;
  font-size: 14px;
}

.span-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-toolbar {
  float: right;
  display: flex;
  justify-content: end;
  margin-left: 20%;
  gap: 15px;
}
