<mat-toolbar color="primary">
  <span>ZenduForms</span>
  <div class="nav-items">
    <span routerLink="#" class="span-items"
      ><mat-icon>list</mat-icon>Forms</span
    >
    <span routerLink="#" class="span-items"
      ><mat-icon>supervisor_account</mat-icon>Customers</span
    >
    <span routerLink="#" class="span-items"
      ><mat-icon>graphic_eq</mat-icon>Submissions</span
    >
    <span routerLink="#" class="span-items"
      ><mat-icon>history</mat-icon>History</span
    >
    <span routerLink="#" class="span-items"
      ><mat-icon>insert_chart_outlined</mat-icon>Reports</span
    >
    <span routerLink="#" class="span-items"
      ><mat-icon>insert_chart_outlined</mat-icon>WorkFlow</span
    >
  </div>
  <div class="right-toolbar">
    <span class="span-items">
      <mat-icon>notifications</mat-icon>
    </span>
    <span class="span-items">
      <mat-icon>exit_to_app</mat-icon>
    </span>
  </div>
</mat-toolbar>
