<div class="main">
  <p class="heading">Submissions</p>
  <div class="row">
    <div class="col-md-3">
      <div class="search-icon">
        <!-- <mat-icon class="icon">search</mat-icon> -->
        <input
          type="text"
          class="form-control searchbox mb-3"
          placeholder="Search..."
        />
      </div>
    </div>
    <div class="col-md-6 form-inputs">
      <select
        class="form-select form-select-md mb-3"
        aria-label=".form-select-lg example"
      >
        <option selected>Select Form</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select
        class="form-select form-select-md mb-3"
        aria-label=".form-select-lg example"
      >
        <option selected>Select Status</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <div>
        <input class="form-control dateClass" type="date" />
      </div>
    </div>
    <div class="col-md-2 d-flex justify-content-end align-items-start">
      <button class="btn-sm btn-outline button">
        <mat-icon> insert_drive_file</mat-icon>Export
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card border mb-3">
        <div class="card-body">
          <span class="card-title d-flex justify-content-between">
            <h5>Work Flow : Requires Locarion</h5>

            <div class="heading-right">
              <span class="circle"></span>Uncomplete
            </div>
          </span>

          <div><b>From</b> : jamesjensen@gmail.com</div>
          <div><b>To</b> : hannahparker@gmail.com</div>
          <div><b>Due Date</b>: <b class="date-card">2 February</b></div>
        </div>
      </div>
      <div class="card border mb-3">
        <div class="card-body">
          <span class="card-title d-flex justify-content-between">
            <h5>Work Flow : Requires Locarion</h5>

            <div class="heading-right-green">
              <span class="circle2"></span>Low Risk
            </div>
          </span>

          <div><b>From</b> : jamesjensen@gmail.com</div>
          <div><b>To</b> : hannahparker@gmail.com</div>
          <div><b>Due Date</b>: <b class="date-card">2 February</b></div>
        </div>
      </div>
      <div class="card border mb-3">
        <div class="card-body">
          <span class="card-title d-flex justify-content-between">
            <h5>Work Flow : Requires Locarion</h5>

            <div class="heading-right">
              <span class="circle"></span>Uncomplete
            </div>
          </span>

          <div><b>From</b> : jamesjensen@gmail.com</div>
          <div><b>To</b> : hannahparker@gmail.com</div>
          <div><b>Due Date</b>: <b class="date-card">2 February</b></div>
        </div>
      </div>
      <div class="card border mb-3">
        <div class="card-body">
          <span class="card-title d-flex justify-content-between">
            <h5>Work Flow : Requires Locarion</h5>

            <div class="heading-right-gray">
              <span class="circle3"></span>Needs Review
            </div>
          </span>

          <div><b>From</b> : jamesjensen@gmail.com</div>
          <div><b>To</b> : hannahparker@gmail.com</div>
          <div><b>Due Date</b>: <b class="date-card">2 February</b></div>
        </div>
      </div>
    </div>
    <div #map class="col-md-8" style="height: 630px"></div>
  </div>
</div>
